a {
	&.cta_button {
	    text-decoration: none;
	    box-sizing: border-box !important;

	    &:hover,
	    &:active,
	    &:focus {
	        text-decoration: none;
	    }
	}
}
.blue-button{
	cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color: $actionColor;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
    line-height: 18px;
    padding: 18px 48px;
    padding-left: 20px;
    min-width: 100px;
    cursor: pointer;
    outline: 0;
    position: relative;
    border-radius: 50px;
}
