// @font-face {
//     font-family: BisnodeSans;
//     font-weight: 400;
//     font-style: normal;
//     src: url(https://blog.bisnode.ch/hubfs/fonts/BisnodeSans-Regular.woff) format("woff")
// }

// @font-face {
//     font-family: BisnodeSans;
//     font-weight: 700;
//     font-style: normal;
//     src: url(https://blog.bisnode.ch/hubfs/fonts/BisnodeSans-Bold.woff) format("woff")
// }

.hbspt-form {
	font-family: hubl("$font"), sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;

	* {
		box-sizing: border-box; 
	}

	*:focus {
		outline: none; 
	}

	.hs_cos_wrapper_type_rich_text,
	.hs_cos_wrapper_type_text,
	.hs_cos_wrapper_type_header,
	.hs_cos_wrapper_type_section_header,
	.hs_cos_wrapper_type_raw_html,
	.hs_cos_wrapper_type_raw_jinja,
	.hs_cos_wrapper_type_page_footer {
		word-wrap: break-word; 
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	ul,
	ol,
	li,
	strong,
	em,
	small,
	blockquote,
	div {
	  margin: 0;
	  padding: 0;
	  color: inherit; 
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
	  	line-height: 1;
	    font-weight: 400;
	    display: block;
	    margin-bottom: 20px;
	    small {
	        font-weight: 400;
	    }
	}


	h1,
	.h1
	{
	   font-size: rem(42);
	    font-weight: 700;
	    line-height: 1.2;
	    @media (max-width: 486px) {
	        font-size: rem(24);
	    }
	}


	h2,
	.h2 {
	    font-size: rem(39.6666);
	    font-weight: 700;
	    line-height: 1.2;
	    @media (max-width: 486px) {
	        font-size: rem(24);
	    }
	}


	h3,
	.h3 {
	    font-size: rem(26.4445); //////
	    font-weight: 400;
	    line-height: 1.2;
	    @media (max-width: 486px) {
	        font-size: rem(20);
	    }
	}

	h4,
	.h4 {
	    display: inline;
	    font-size: rem(24);
	    line-height: rem(26);
	    @media (max-width: 486px) {
	        font-size: rem(20);
	    }
	}

	h5,
	.h5 {
	    font-size: rem(20);
	    @media (max-width: 486px) {
	        font-size: rem(18);
	    }
	}


	h6,
	.h6 {
	    font-size: rem(18);
	    @media (max-width: 486px) {
	        font-size: rem(16);
	    }
	}

	p,
	p span {
	    font-size: rem(18);
	    font-weight: 400;
	    line-height: 1.6;
	    margin-bottom: 20px;
	    @media (max-width: 486px) {
	        font-size: rem(14);
	    }
	}


	strong{
	    font-weight: 700;
	}

	small{
	    font-size: rem(14);
	}

	blockquote{
	    font-size: rem(42);
	    line-height: rem(54);
	    font-style: italic;
	    margin: 50px 0px 50px 50px;
	    position: relative;
	    border: 1px solid #f2f2f2;
	    padding: 50px 100px 50px 110px!important;
	    small{
	    	margin-top: 15px;
	    	display: block;
	    	font-size: rem(18);
	    	font-weight: 400;
	    	font-style: normal;
	        @media (max-width: 486px) {
	            font-size: 14px;
	        }
	    }
	     &:before{
	        position: absolute;
	        top: 20px;
	        left: -65px;
	        content: '';
	        background-image: url('//cdn2.hubspot.net/hubfs/4152443/Icons/quote-ico.svg');
	        background-size: cover;
	        background-position: center center;
	       width: 100px;
	       height: 85px;
	        display: block;
	    }
	    &:after{
	    	display: none;
	    }
	    @media(max-width: 767px){
	    	padding: 75px 25px 50px 25px!important;
			margin: 50px 0px;
			font-size: rem(32);
	        line-height: rem(44);
			&:before{
				left: 20px;
				opacity: 0.1;
			}
		}
	    @media (max-width: 486px) {
	        padding: 50px 25px 25px 25px!important;
	        font-size: rem(18);
	        line-height: rem(28);
	        margin: 25px 0px 25px 0px;
	        &:before{
	            top: -5px;
	        }
	    }
	}

	a {
	    position: relative;
	    display: inline-block;
	    color: $fontColor;
	    text-decoration: none;
	    transition: .3s linear all;

	    &:hover {
	        color: $actionColor;
	    }
	}

	ul,
	ol {
	    li {
	        font-size: rem(18);
	        font-weight: 400;
	        padding-left: 0px;
	        @media (max-width: 486px) {
	            font-size: 14px;
	        }
	    }
	}

	ul {
	    list-style-type: none;
	    li {
	        position: relative; 
	     
	    }
	}

	ol {
	    li {
	        list-style-type: none;
	        counter-increment: list;
	        position: relative;
	        &:before {
	            position: absolute;
	            content: counter(list) ".";
	            display: inline-block;
	            text-align: right;
	            margin-right: 18px;
	            left: 15px;
	        }
	    }
	}

	.hs-richtext,
	.widget-type-rich_text,
	.hs_cos_wrapper_type_rich_text,
	.hs_cos_wrapper_type_inline_rich_text {

	    a {
	        display: inline;
	    }
	   
	    ul{
	        margin-bottom: 20px;
	        li {
	            padding-left: 25px;
	            margin-bottom: 10px;
	               &:before {
	            content: "";
	            position: absolute;
	            left: 0px;
	            top: 6px;
	            width: 17px;
	            height: 12px;
	            background-size: auto;
	            background-repeat: no-repeat;
	            background-position: center center;
	            background-image: url('//cdn2.hubspot.net/hubfs/4152443/Icons/li-arrow.svg');
	            
	        }
	        }
	    }
	    ol {
	        margin-bottom: 20px;
	        li {
	            padding-left: 45px;
	            margin-bottom: 10px;
	        }
	    }
	}

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	select {
		padding: 6px;
		display: inline-block;
		width: 100%;
		box-sizing: border-box; 
	}

	textarea:focus,
	input:focus {
		outline: none; 
	}
	
	@import "__forms.scss";
}

@import "Modules/multi-step-form.scss";