.bottom-footer{

	background-color:#fafafa;
	padding:20px 0px;
	ul{
		padding-top:0px;
		padding-left:0px;
	
	}
	.right-menu {
		margin-top:10px;
		.hs-menu-flow-horizontal{
		float:right;
		}
	}
}
.footer{
	
	h4{
		display: inline-block;
		font-size: rem(15);
		font-weight:700;
		margin-bottom: 5px;
	}

	ul li:before{
		display:none;
	}
	
	i{
    	color:#979797;
    	font-size:18px;
	}
	.noo{
		padding:50px 0px;
		border-top:1px solid #f2f2f2;
	}
	.bottom-footer{
		li a{
			font-family: hubl("$font"), sans-serif;;
			font-weight: 700 !important;
			transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
			text-decoration:none!important;

			&:hover {
				color: $actionColor;
			}
		}
	}

	.social-icons{
		margin-top:10px;
		li a{
			font-size:15px;
			color:#191919;
			text-decoration:none;
			font-weight:700;
			padding: 5px 20px;
			padding-left:5px;
		    transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    		i{
    			margin-right:10px;
    			transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    		}
		}

		li a:hover{
			color:$actionColor!important;
			i{
				color:$actionColor!important;
			}
		}
	}
	@media(max-width:768px){
		.bottom-footer{
			background-color:#F2F2F2;
			padding:0px;
			.flyouts {
				ul{	
					margin-bottom:10px!important;
					font-size: 12px;
				   
				    display: -webkit-flex;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-justify-content: space-between;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
				    width: 100%;
					li{
						float:left;
						width:33%;
						a{
							font-size: 12px;
							padding-left:5px!important;
						}
		
					}
				}
			}
			.container{
				padding:0px!important;
			}
			.social-icons{
				text-align:left;
				margin-top:0px;
				background-color:#FAFAFA;
				li{
					padding:15px 20px;
					width:100%;
				}
			}

		}
	}

	.layout-widget-wrapper{
		.hs-menu-depth-1{
			
			display: block;
    		width: 100%;
			
			a{
				font-family: Roboto;
				padding-left:0px;
				font-size:15px;
				color:#191919;
				font-weight:300;
			}
			a:hover{
				text-decoration:underline;
				color: $actionColor;
			}

		}
	}
	@media(max-width:768px){
		.layout-widget-wrapper{
			h4{
				font-size:12px!important;
				margin-top:10px;
				margin-bottom:10px;
			}
		.hs-menu-depth-1{

			a{
				font-size:12px;
			}



			}
		}
	}
	.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a{
		    white-space: normal;
		    padding: 5px 20px;
		    padding-left:0px;
	}

}
.bottom-footer{
	.layout-widget-wrapper{
		.hs-menu-depth-1{
			
			width:auto;

		}
	}
	ul{
		list-style-type: none;
		li{
			display:inline-block;
		}
	}

}

@media(max-width:767px){
	.footer{
		.noo{
			h4{
				margin-top:20px;
			}
		}

		.bottom-footer ul{
			text-align:center;
		}
		.right-menu{
			.flyouts{
				width:100%;
				text-align:center;
		
			}
		}
	}
}