form {
    max-width:600px;
    margin:auto;

    ::-webkit-input-placeholder {
         color: #7d7d7d;   
    }
    ::-moz-placeholder {
         color: #7d7d7d;
    }
    :-ms-input-placeholder {
         color: #7d7d7d;
    }
    :-moz-placeholder {
          color: #7d7d7d;
    }

    fieldset {
        max-width: 100% !important;
        
        .hs-input{
            width: 100% !important;
        }

        &.form-columns-2 {

            .hs-form-field {
                width: 50%!important;

                @media (max-width: 767px) {
                    width: 100% !important;
                    float: none !important;
                    padding: 0 !important;
                }
            }
        }

        &.form-columns-3 {

            .hs-form-field {
                width: 33.33% !important;

                @media (max-width: 767px) {
                    width: 100% !important;
                    float: none !important;
                    padding: 0px !important;
                }
            }
        }

        &[class^="form-columns-"]:not(.form-columns-1) {
            .hs-form-field {
                padding-left: 7.5px;
                padding-right: 7.5px;
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                @media (max-width: 400px),(max-device-width: 480px) and (min-device-width: 320px) {
                    width: 100%;
                    padding: 0px;
                }
                input {
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100%!important;
                    }
                }
            }
        }
        

    }

    .input {
        position: relative;
        margin-right: 0 !important;
    }

    .hs-form-field {
        position: relative;
        margin: 0px 0px 15px;
        
        & > label {
            display: block;
            margin-bottom: 10px;
            font-size: rem(18);
            font-weight: 300;
            transition: .2s;
        }

    &.error {

        & > label {
            color: $coreColor !important;
        }

        input, textarea {
            border-color: $coreColor !important;
            color: $coreColor;
            background-color: #FFF9F9;
        }
    }
    }

    .hs-form-field:not(.hs-fieldtype-radio):not(.hs-fieldtype-checkbox) {
        overflow: hidden;

        & > label {
            width: calc(100% - 30px);
            position: absolute;
            top: 14px;
            left: 15px;
            color: #7d7d7d;
            z-index: 1;
            white-space: nowrap;
            transition: .2s;
            line-height: 29px;
            overflow: hidden;
        }

    &.focus {

        & > label {
            top: 5px;
            font-size: rem(15);
            line-height: 21px;
        }
    }
    }

    [class^="form-columns-"]:not(.form-columns-1) {

        .hs-form-field:not(.hs-fieldtype-radio):not(.hs-fieldtype-checkbox) {

            & > label {
                left: 22.5px;

                @media (max-width: 767px) {
                    left: 15px;
                }
            }

            &:first-of-type {

                & > label {
                    left: 15px;
                }
            }
        }
    }

    .hs-form-field.hs-fieldtype-select {

        & > label {
            position: absolute;
            top: 5px !important;
            left: 15px;
            color: #7d7d7d;
            z-index: 1;
            white-space: nowrap;
            transition: .2s;
            font-size: rem(15);
            line-height: 21px !important;
        }
    }

    // Textarea
    textarea {
        border: 1px solid #c6c6c6;
        color: $fontColor;
        font-size: rem(18);
        width: 100% !important;
        line-height: 1.5;
        border-radius: 3px;
        min-height: 150px;
        -ms-overflow-style: none;
        padding: 0;
        padding-top: 22px;
        padding-left: 15px;
        font-weight: 400;
        transition: .2s;
    }

    .hs-fieldtype-textarea {

        .input {
            line-height: 0;
        }
    }

    .hs-fieldtype-date {
        overflow: visible !important;

        & > label {
            position: absolute;
            top: 5px !important;
            left: 15px;
            color: #7d7d7d;
            z-index: 1;
            white-space: nowrap;
            transition: .2s;
            font-size: rem(15);
            line-height: 21px !important;
        }

        .input {
            position: relative;

            &:before {
                font-family: 'Font Awesome\ 5 Free';
                content: '\f073';
                color: $actionColor;
                font-size: rem(24);
                position: absolute;
                bottom: 3px;
                left: 15px;
                cursor: pointer;
            }

            input {
                padding-left: 50px;
                cursor: pointer;
            }
        }
    }

    .hs-fieldtype-file {

        & > label {
            position: absolute;
            top: 5px !important;
            left: 15px;
            color: #7d7d7d;
            z-index: 1;
            white-space: nowrap;
            transition: .2s;
            font-size: rem(15);
            line-height: 21px !important;
        }

        .input {
            position: relative;
            height: 58px;
            cursor: pointer;
            overflow: hidden;

            &:before {
                font-family: 'Font Awesome\ 5 Free';
                content: '\f093';
                font-weight: 900;
                color: $actionColor;
                font-size: rem(22);
                position: absolute;
                bottom: 3px;
                left: 15px;
                cursor: pointer;
            }

            .file-placeholder {
                position: absolute;
                bottom: 5px;
                left: 50px;
                margin-bottom: 0;
                color: $fontColor;    
            }

            input {
                cursor: inherit;
                display: block;
                font-size: 999px;
                filter: alpha(opacity=0);
                min-height: 100%;
                min-width: 100%;
                opacity: 0;
                position: absolute;
                right: 0;
                text-align: right;
                top: 0;
            }
        }
    }

    // Inputs
    input, .hs-fieldtype-file .input {
        appearance: none;
        background-color: #fff;
        margin: 0;
        border: none;
        border: 1px solid #c6c6c6;
        border-radius: 3px;
        color: $fontColor;
        font-size: rem(18);
        line-height: 1.5;
        font-weight: 400;
    }

    input {
        transition: .2s;
        font-family: hubl("$font"), sans-serif;

        //Checkbox
        &[type="checkbox"] {
            appearance: checkbox;
            display: none;
            +span {
                padding-left: 30px;
                position: relative;
                cursor: pointer;

                &:before, &:after {
                    font-family: 'Font Awesome\ 5 Free';
                    font-size: rem(20);
                    line-height: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                &:before {
                    content: '\f0c8';
                    color: #c6c6c6;
                }
                &:after {
                    opacity: 0;
                    content: '\f14a';
                    color: $actionColor;
                    transition: 0.3s;
                }
                &:hover:before {
                    cursor: pointer;
                }
            }
            &:checked+span {
                &:after {
                    opacity: 1;
                }
            }
        } 

        // Radio
        &[type="radio"] {
            appearance: radio;
            display: none;
            +span {
                padding-left: 30px;
                position: relative;
                cursor: pointer;

                &:before, &:after {
                    font-family: 'Font Awesome\ 5 Free';
                    font-size: rem(20);
                    line-height: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    //transform: translateY(-50%);
                }

                &:before {
                    content: '\f111';
                    color: #c6c6c6;
                }
                &:after {
                    opacity: 0;
                    content: '\f192';
                    color: $actionColor;
                    transition: 0.3s;
                }
                &:hover:before {
                    cursor: pointer;
                }
            }
            &:checked+span {
                &:after {
                    opacity: 1;
                }
            }
        } 

        &[type=text],
        &[type=email],
        &[type=tel],
        &[type=password],
        &[type=number],
        &[type=tel],
        &[type="file"],
        &[type="date"] {
            height: 58px;
            padding: 0;
            padding-top: 15px;
            padding-left: 15px;
        }

        &[type="date"] {
            font-size: 18px;
            padding-top: 20px;
        }

        // Submit
        &[type=submit] {
            width: 100%;
            cursor: pointer;
            transition: 0.3s all;
            color: #fff;
            background-color: $actionColor;
            border: 1px solid $actionColor;
            letter-spacing: 0em;
            font-family: hubl("$font"), sans-serif;
            padding: 20px 50px;
            margin: 10px 0px 20px 0px;
            font-weight: 700;
            font-size: rem(18);
            line-height: 1;
            border-radius: 50px;
            // text-transform: uppercase;
            white-space: normal;
            &:hover{
                background-color: #fff;
                color: $actionColor;
            }
        }
    } 

    // Select
    select {
        display:block;
        visibility:visible;
        opacity:1;
        background-color: #fff;
        background-image: url('//blog.bisnode.ch/hubfs/Icons/arrow-right.png');
        background-position: 95% 50%;
        background-size: 10px 16px;
        background-repeat: no-repeat;
        border:1px solid #c6c6c6;
        border-radius: 3px;
        transition: 0.3s all;
        font-size: rem(18);
        line-height: 1.5;
        font-weight: 400;
        height: 58px;
        padding: 0;
        padding-top: 15px;
        padding-left: 15px;
        color: $fontColor;
    }

    select {
        /*for firefox*/
         -moz-appearance: none;
         /*for chrome*/
         -webkit-appearance:none;
    }

    /*for IE10*/
    select::-ms-expand {
        display: none;
    }

    select::-ms-value {
        color: $fontColor;
        background: transparent;
    }

    select:focus::-ms-value {
        color: $fontColor;
        background: transparent;
    }

    .inputs-list {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 10px;
            font-size: rem(16);

            label {
                padding-left: 0;
            }
        }

        &.multi-container {

            li {

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .hs-error-msgs {
        display: inline-block;
        margin-top: 5px;
        padding-left: 0px;
        li {
            text-align: left;
            margin-bottom: 0;
            &:before {
                content: "";
                display: none;
            }
            label,a{
                font-size: rem(16);
                padding-left: 0;
                color: $coreColor;
                display: inline-block;
            }
        }
    } 

    // bullet required
    .hs-form-required {
        display: none;
    }

    .hs_error_rollup {
        display: none;
    }

    .legal-consent-container {

        a {
            color: $actionColor;
        }
    }
}

