.hs-tools-menu {
    ul li {
        &:before {
            display: none;
        }
    }
}

//IOS video 
video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

img {
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none!important;
    min-height: 0px!important;
}

.row-fluid [class*="span"] {
    min-height: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.slick-slider {
    margin-bottom: 0;

    .slick-track {
        margin-left: auto;
        margin-right: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    // font-family: Roboto, sans-serif!important;
}

i {
    color: #979797;
}



// SLICK SLIDER
.slick-slider {

    .slick-dots {
        bottom: 30px;
        li {
            width: 10px;
            height: 10px;
            @media(max-width: 680px) {
                width: 7px;
                height: 7px;
            }
            &:before {
                display: none;
            }
            button {
                width: 10px;
                height: 10px;
                padding: 0;
                &:before {
                    content: '';

                    background-color: #000;
                    border-radius: 50%;
                    opacity: 0.3;

                    width: 7px;
                    height: 7px;
                }
            }
            &.slick-active {
                button {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}