// BLOG HEADER 
.blog,.bisnode {
    // GLOBALS
    .header-fixed{
    	position: fixed;
    	transform: translateZ(0);
    	width: 100%;
        z-index: 999999;
            box-shadow: 0 0.11111rem 1rem rgba(0, 0, 0, 0.05);
        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            display: block;
            margin-left: 0px;
            padding-left: 0px;
            li {
                display: inline-block;
                transition: 0.3s all;
                &:before{
                    display: none;
                }
                a {
                    text-decoration: none;
                    margin: 0px!important;
                    padding: 0px!important;
                    display: block!important;
                    white-space: nowrap;
                    transition: 0.3s color;
                }
                &:hover{
                	a{
                		color: $actionColor!important;
                	}
                }
            }
        }
    }

     // MAIN HEADER 
    .main-header {
		background-color: #fff;

        ul {
            li {
                position: relative;
                cursor: pointer;
                &:after {
                    content: '';
                    height: 5px;
                    width: 100%;
                    position: absolute;
                    top: -5px;
                    left: 0px;
                    background: $actionColor;
                    transition: top 0.2s cubic-bezier(0.2, 1, 0.3, 1);
                }
                &:hover,&.active  {
                    &:after {
                        top: 0px;
                    }
                }
            }
        }

        .container {

            max-width: 99%!important;
            >div {
            	height: 90px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media(max-width: 767px){
                    height: 55px;
                }
                >div {
                    &:nth-of-type(2) {
                        // background-color: rebeccapurple;
                        max-width: 1270px;
                        padding: 0 20px;
                        width: 100%;
                    }
                }
            }


        }
        .widget-type-logo {
            img {
                max-width: 113px;
                @media(max-width: 767px){
                    max-width: 63px;
                }
            }
        }
        .tag-nav {
			@media(max-width: 1040px){
    			display: none;
    		}
            ul {
                display: flex;

                li {
                    height: 90px;
                    padding: 35px 15px;
                    margin: 0 2px;
                    a {
                        font-weight: 700;
                        font-size: 18px;
                        color: #191919;
                    }
                }
            }
        }
        .go-home {
        	@media(max-width: 1040px){
    			display: none;
    		}
            ul {
                display: flex;
                li {
                    padding: 35px 15px;
                    height: 90px;
                    margin: 0 2px;
                    a {
                        font-weight: 700;
                        font-size: 18px;
                        color: #191919;
                    }
                }
            }
        }

        // HAMBURGER MENU 
        .mobile-top-menu{
            width: 30px;
            display: none;
            position: relative;
            @media(max-width: 1040px){
                display: block!important;
                margin-right: 0px;
            }
            .hamburger{
                width: 100%;
                height: 16px;
                position: relative; 
                cursor: pointer;             
                span {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background: $actionColor!important;
                    opacity: 1;
                    left: 0px;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    @media(max-width: 1350px){
                        background: #fff;
                    }
                    &:nth-child(1) {
                        top: 17px;
                        top: 0px;
                        transform-origin: left center;
                    }
                    &:nth-child(2) {
                        top: 25px;
                        top: 7px;
                        transform-origin: left center;
                    }
                    &:nth-child(3) {
                        top: 33px;
                        top: 14px;
                        transform-origin: left center;
                    }
                }
                &.active {
                    padding: 0px;
                    span {
                        &:nth-child(1) {
                            transform: rotate(45deg);
                            top: -2px;
                            left: 3px;
                        }
                        &:nth-child(2) {
                            width: 0%;
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            top: 19px;
                            left: 3px;
                        }
                    }
                }
            }
        }     
    } 

    // BREADCRUMBS HEADER
    .breadcrumbs-wrapper {
        background-color: #fafafa;
        overflow: hidden;
        .container {
            // background-color: red;
            max-width: 90%;
            max-width: 1270px;
            width: 100%;
        }
        ul {
            margin-left: -7px;
            @media(max-width: 1270px) {
                margin-left: 0px;
            }
            li {
                position: relative;
                svg {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                &:first-child {
                    padding-right: 33px;
                    margin-right: 17px;
                     @media(max-width: 460px){
                        padding-right: 23px;
                         margin-right: 3px;
                    }
                }
                &:last-child {
                 
                }
                a {
                    // text-transform: uppercase;
                    font-size: 14px;
                    color: #191919;
                    line-height: 36px;
                    @media(max-width: 460px){
                        font-size: 10px
                    }
                }
            }
        }
    }
}

// SIDEBAR MENU
.blog{
    .sidebar-menu{
        position: fixed;
        transform: translateZ(0) translateY(-50%);
        z-index: 1000000;
        top: 50%;
        @media(max-width: 1350px){
            transform: translateZ(0) translateY(0);
            top: 126px;
        }
         @media(max-width: 767px){
                     top: 91px;
                     transform: translateZ(0) translateY(0);
                }

        .item{
            width: 60px;
            height: 60px;
            margin-bottom: 2px;
            background-color: #fff;
            transition:0.3s all ease;
            @media(max-width: 1350px){
                &:not(.main-menu){
                    opacity: 0;
                }
            }
            &.show{
                opacity: 1;
            }
        }
        .main-menu{
            cursor: pointer;
            text-align: center;
            @media(max-width: 1350px){
                background-color: $actionColor;
            }
            @media(max-width: 1040px){
                opacity: 0; 
                pointer-events: none;    
            }
            small{
                    display: inline-block;
                    text-align: center;
                    font-size: 11px;
                    color: $actionColor;
                    @media(max-width: 1350px){
                        color: #fff;
                    }
                }
            .hamburger{
                width: 100%;
                height: 35px;
                position: relative;              
                span {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background: $actionColor;
                    opacity: 1;
                    left: 15px;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    @media(max-width: 1350px){
                        background: #fff;
                    }
                    &:nth-child(1) {
                        top: 17px;
                        transform-origin: left center;
                    }
                    &:nth-child(2) {
                        top: 25px;
                        transform-origin: left center;
                    }
                    &:nth-child(3) {
                        top: 33px;
                        transform-origin: left center;
                    }
                }
                &.active {
                    padding: 0px;
                    span {
                        &:nth-child(1) {
                            transform: rotate(45deg);
                            top: 15px;
                            left: 19px;
                        }
                        &:nth-child(2) {
                            width: 0%;
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            top: 36px;
                            left: 19px;
                        }
                    }
                }
            }
        }
        .lang-switch{
            position: relative;
            z-index: 1;
            .active-lang{
                cursor: pointer;
                position: absolute;
                top:0px;
                left: 0px;
                width: 100%;
                height: 100%;
                color: $actionColor;
                font-size: 16px;
                text-align: center;
                line-height: 60px;
                z-index: 3;
                background-color: #fff;
                
            }
            .langs{
                z-index: 2;
                position: absolute;
                top:0px;
                left: -500px;
                width: 253px; // mainpulate this value if new lang will be added
                height: 100%;
                padding-left: 60px;
                padding-right: 5px;
                background-color: #fff;
                transition: 0.3s all ease-in-out;
                @media(max-width: 420px){
                    width: 300px;
                }
                &.active{
                    left: 0px;
                }
                ul{
                    li{
                        display: inline-block;
                        padding: 0 15px; 
                        min-width: 60px;
                        text-align: center;
                        @media(max-width: 420px){
                            padding: 0 5px; 
                            min-width: 40px;
                        }
                        a{
                            line-height: 60px;
                            color: #000;
                            &.disabled{
                                opacity: 0.5;
                                cursor: default;
                                &:hover{
                                     color: #000;
                                }
                            }
                            &:hover{
                                color: $actionColor;
                            }
                            i,svg{
                                color: inherit;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
        .search{
            position: relative;
            z-index: 1;
            .icon{
                cursor: pointer;
                position: absolute;
                top:0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #fff;
                background-image: url('//blog.bisnode.ch/hubfs/Blog/bisnode-search.png');
                background-repeat: no-repeat;
                background-size: 1;
                background-position: center center;
                z-index: 3;
                
            }
            .search-wrapper{
                z-index: 2;
                position: absolute;
                top:0px;
                left: -500px;
                width: 400px;
                width: 381px;
                height: 100%;
                padding-left: 60px;
                padding-right: 5px;
                background-color: #fff;
                transition: 0.3s all ease-in-out;
                @media(max-width: 420px){
                    width: 300px;
                }
                &.active{
                    left: 0px;
                }
                #search-input{
                    font-size: 18px;
                    padding: 11px 15px;
                    line-height: 1.5;
                    font-weight: 400;
                    display: inline-block;
                    width: 100%;
                    appearance: none;
                    margin: 0;
                    margin-top: 4px;
                    border: none;
                    border: 1px solid #f2f2f2;
                    border-radius: 4px;
                    color: #292929;
                }
            }
        }
        .follow{
            position: relative;
            z-index: 1;
            .icon{
                cursor: pointer;
                position: absolute;
                top:0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #fff;
                background-image: url('//blog.bisnode.ch/hubfs/Blog/bisnode-share.png');
                background-repeat: no-repeat;
                background-size: 1;
                background-position: center center;
                z-index: 3;
                
            }
            .follow-us{
                z-index: 2;
                position: absolute;
                top:0px;
                left: -500px;
                // width: 400px;
                width: 360px;
                height: 100%;
                padding-left: 60px;
                padding-right: 5px;
                background-color: #fff;
                transition: 0.3s all ease-in-out;
                @media(max-width: 420px){
                    width: 300px;
                }
                &.active{
                    left: 0px;
                }
                ul{ 
                    display: flex;
                    li{
                        display: inline-block;
                        padding: 0px; 
                       
                          text-align: center;
                          @media(max-width: 420px){
                            padding: 0 5px; 
                            min-width: 40px;
                        }
                        a{
                            width: 60px;
                            line-height: 60px;
                            color: #000;
                            &:hover{
                                color: #3e8cd5;
                            }
                            i,svg{
                                color: inherit;
                                font-size: 25px;
                            }
                            &.contact{
                                img{
                                    // width: 30px;
                                    // height: auto;
                                    // line-height: 60px;
                                    // vertical-align: middle;
                                    // transform: translateY(-4px);

                                }
                            }
                            &.fb{
                                i{
                                        transform: translateY(2px);
                                    }
                                &:hover {
                                    background-color: #3b5998;
                                    color: #fff;
                                }
                            }
                            &.twitter{
                                i{
                                        transform: translateY(2px);
                                    }
                                &:hover {
                                    background-color:#39a0cd;//#1dcaff;
                                    color: #fff;
                                }
                            }
                            &.linkedin{
                                i{
                                        transform: translateY(2px);
                                    }
                                &:hover {
                                    background-color:#0077b5;
                                    color: #fff;
                                }
                            }
                            &.xing{
                                i{
                                        transform: translateY(2px);
                                    }
                                &:hover {
                                    background-color:#026466;
                                    color: #fff;
                                }
                            }
                            &.contact{
                                    i{
                                        transform: translateY(2px);
                                    }
                                    &:hover{
                                       background-color: #3e8cd5;
                                        color: #fff;
                                    }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    // MAIN AREA 
    .sidebar-menu-area{
        padding: 120px 0px;
        position: fixed;
        min-height: 500px;
        background-color: $backgroundColor;
        z-index: 999999;
        top:55%;
        transition: 0.3s all ease-in-out;
        transform: translateY(-50%);
        overflow-y: auto;
        opacity: 0;
        width: 100%;
        left: -100%;
        color: #fff;
        @media(max-width: 1350px){
            top:126px;
            transform: translateY(0);
        }
        @media(max-width: 1024px){
            // top:90px;
            // transform: translateY(0);
            height: 100%;
            max-height: 1000vh;
            overflow: auto;
            padding: 0px 0px 90px 0px;
        }
         @media(max-width: 767px){
            top:91px;
        }
        .h3{
            color: #fff;
            margin-bottom: 30px;
        }
        &.active{
            opacity: 1;
            width: 100%;
            left: 0;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            padding: 0px ;
            @media(max-width: 1400px){
                 padding: 0px 15px 0px 75px;
            }
            > div{
                width: 33.33%;
                padding: 0 35px;
                @media(max-width: 1024px){
                    width: 100%;
                    padding: 35px 0px;
                }
                &:first-child{
                    padding-left: 0px;
                    @media(max-width: 1024px){
                     order: 2;
                     border-bottom: 1px solid #fff;
                 }
                }
                &:nth-child(2){
                    @media(max-width: 1024px){
                    order: 1;
                    border-top: none;
                }
                }
                &:last-child{
                    padding-right: 0px;
                    @media(max-width: 1024px){
                     order: 3;
                 }
                }
            }
        }
        .topics{
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            @media(max-width: 1024px){
                border-left: none;
                border-right: none;                
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
            }
            a {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                // border: 1px solid #292929;
                color: $actionColor;
                font-weight: 400;
                font-size: rem(20); // 22px;
                line-height: 24px;
                // text-transform: uppercase;
                // padding: 4px 15px;
                // background-color: #fff;
                &:hover,&.active {
                    color: $actionColor;
                    // border-color: #3e8cd5;
                    padding-left: 3px;
                }
            }
        }
        .form{
            .forms-wrapper{
                .h3{
                    margin-top: 5px;
                    border-bottom: 0px;
                    margin-bottom: 0px;
                    small{
                        display: block;
                        font-size: 18px;
                        padding-top: 10px;
                    }
                }
                form .hs-form-field{
                   .hs-input{
                    background-color: #fff;
                   }
                }
                input[type=submit] {
                    font-size: rem(18);
                    line-height: rem(18);
                    padding-top: 18px;
                    padding-bottom: 18px;
                    color: #3e8cd5;
                    background-color: #fff;
                    border: 1px solid #fff;
                    border-radius: 50px;
                    &:hover{
                        background-color: transparent;
                        color: #fff;
                    }
                }
            }
        }
    }
}