.backup-unsubscribe{
	.page-header {
		max-width: 600px;
		margin: auto;
	}

	.cont{

		#content{
			@media(max-width:540px){
				input{
					max-width:100%;
				}
			}
		}
		min-height:500px;
		padding-top:100px;
		.email-edit{
			padding:15px!important;
			border-radius:1px;
		}
		h1{
			font-size:42px;
			margin-bottom:35px;
			line-height:40px;
			font-weight: 700;
			@media(max-width: 486px){
				font-size: 24px; 
			}
		}
		h3{
			font-size:18px;
			margin-bottom:35px;
			@media(max-width: 486px){
				font-size: 14px; 
			}
		}
		form input[type=submit]{
			cursor: pointer;
		    transition: 0s all;
		    background-color: transparent;
		    border: 1px solid transparent;
		    letter-spacing: 0em;
		    font-family: hubl("$font"), sans-serif;
		    padding: 0px;
		    margin: 0px 0px 0px 0px;
		    font-weight: 700;
		    color: inherit;
		}
		.cont-button{
			    cursor: pointer;
			    font-weight: 700;
			    font-size: 18px;
			    color: #FFFFFF;
			    background-color: $actionColor;
			    border:1px solid $actionColor;
			    position: relative;
			    vertical-align: middle;
			    display: inline-block;
			    text-align: center;
				transition: 0.3s all; 
			    line-height: 18px;
			    padding: 20px 30px;
			    padding-right: 35px;
			    min-width: 150px;
			    cursor: pointer;
			    outline: 0;
			    position:relative;
			    margin-top: 20px;
			    margin-bottom:30px;
			    border-radius: 50px;
			    text-align: center;

			    &:after {
				    width: 20px;
				    height: 20px;
				    z-index: 3;
				    // font-weight: 900;
				    content: url('https://blog.bisnode.ch/hubfs/Icons/arrow-right-white.png');
				    // font-family:"Font Awesome 5 Free";
				    position: absolute;
				    right: 0px;
				    top: 50%;
				    transform: translateY(-50%);
				    -webkit-box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    box-sizing: border-box;
					margin-left:0.5em;
				    margin-right: 0.5em;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					transition: all .3s linear;
			    }

		}
		.cont-button:hover{
			background-color:white;
			color:$actionColor;
		
			&:after {
			    content: url('https://blog.bisnode.ch/hubfs/Icons/arrow-right.png');
			}
		}
	}


}