.error-page{
	.blog-main{
		background-color:$backgroundColor;
		padding:65px 0px;

		h3, .h3, h4, .h4 {
			color: $actionColor;
			font-weight: 700;
		}
	}
	.header{
		min-height:320px;
		background-image:url("https://cdn2.hubspot.net/hubfs/4152443/pexels-photo-238118.png");
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		padding-top:120px;
		h1{
			font-size: 45px;
		    line-height: 53px;
		    color: $coreColor;
		    display: inline;
		    // background-color: $fontColor;
		    // text-transform: uppercase;
			margin-top:120px;
			@media(max-width: 486px){
				font-size: 24px; 
			}
		}

	}
	.cont{
		padding-top:100px;
		min-height:500px;
		padding-bottom:100px;
		h2{
			margin-bottom:50px;
		}
	}
	.cta_button {
				margin-top:20px;
				margin-right:20px;
	}	
}