.landing-column{
	.gray{
		background-color:$backgroundColor;
		color: #fff;
		a {
			color: $actionColor;
			font-weight: 700;
			font-size: inherit;
		}
		.bottom-sol{
			border-bottom:none!important;
		}
	}
	.right{
		padding-left:43%;
	}
	.left{
		padding-right:43%;
	}
	.header{
		h2{
			// max-width:50%;
		}
		h1{
			margin-top:100px;
			letter-spacing:-3px;
			width: 100%;
		}
		.right{
			h2{
				max-width:100%;
			}
		}
	
	}
	.back-gray{
		margin-top:-185px;
		background-color:#fbfbfb;
		padding:50px 30px;
		h2{
			// text-transform:uppercase;
			margin-bottom:0px;
			font-weight:700;
			font-size:42px;
		}
		h3{
			font-size:30px;
		}
	}
	.send-me{
		padding:50px 0px;
		border-top:1px solid #f2f2f2;
		.header{
			font-size:28px;
			font-weight: 300;
		}
		ul:not(.inputs-list){
			padding-left:20px;
			list-style-type:unset;
		}
		ul li{
			padding-left:0px;
		}
		ul li:before{
			display:none;
		}
	}
	@media(max-width:768px){
			.right{
				padding-left:0px;
			}
			.left {
				padding-right:0;
			}
			.back-gray{
				margin-top:0px!important;
			}
			.header{
				h2{
					max-width:100%!important;
				}
			}
	}

}