.landing-form{
	.body-container-wrapper{
		
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		min-height:100vh;
		.span12{
			z-index:2;
			position:relative;
		}
	}
	.mask{
		width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index:1;
		}
	.container{
		max-width:830px;
		margin:auto;
	}
	h1{
		font-size:42px;
		color:white;
		text-align:center;
		
		margin:auto;
		margin-bottom:30px;
		@media(max-width: 486px){
				font-size: 24px; 
			}
	}
	p{
		color:white;
		font-size:18px;
		font-weight:300;
		text-align:center;
		max-width:800px;
		margin:auto;
		@media(max-width: 486px){
				font-size: 14px; 
			}

		a {
			color: $actionColor;
		}
	}
	ul, ol{
		color:white;
		font-size:18px;
		font-weight:300;
		@media(max-width: 486px){
				font-size: 14px; 
			}
		li{
			color:white;
			a{
				color: $actionColor;
			}
		}
	}
	
	.form {
		color: #fff;
		h3 {
			color: inherit;
			max-width: 600px;
			margin: 20px auto;
		}
	}
	
	.submitted-message{
		color:white;
	}
	.logo{
		text-align:center;
		padding: 70px 0px;
	}

		.footer{
			color:white;
			text-align:center;
			padding-bottom:50px;
			a{
				color:white;
			}
		}
		 .socials{

            @media (max-width: 486px) {
               
                   text-align: center;
                }
            a {
                color: #FFF;
                font-size: 28px;
                padding: 0 10px;
                border-radius: 2px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                &:hover {
                    color: #3e8cd5;
                }
                i,svg{
                    color: inherit;
                    i{
                        transform: translateY(2px);
                    }
                }
                &.fb{
                   &:hover {
                        background-color: #3b5998;
                                    color: #fff;
                    }
                }
                &.twitter{
                     &:hover {
                        background-color:#39a0cd;//#1dcaff;
                        color: #fff;
                    }

                }
                &.linkedin{
                    &:hover {
                     background-color:#0077b5;
                    color: #fff;
                 }
                }
                &.xing{
                    &:hover {
                                    background-color:#026466;
                                    color: #fff;
                                }                
                    }
                &.contact{
                    &:hover{
                                       background-color: #3e8cd5;
                                        color: #fff;
                                    }
                }
            }
        } // POST TOPICS
			.socials{
				padding-top:50px;
				text-align:center;
				padding-bottom:50px;
			
				h3{
					font-size:28px;

				}
				p{
					font-size:18px;
				}
			
				li{
					display:inline-block;
					margin-right:10px;
					margin-left:10px;
					i{
							font-size:28px;
					}
				}
		
		
	}
}