.subscription-preferences{
	form input[type=submit]{
		transition:none;
	}
	.margines{
		margin-top:100px;
	}


	.page-header{
		h2{
			margin-top:30px;
		}
	}
	.hidden{
		display:none;
	}
	form input[type=submit]{
		padding:0px;
	}
	.back-gray{
		form input.error{
			background-color:inherit;
			color:inherit;
		}
		form .hs-form-field{
			margin:15px 0px;
		}
		background-color:#fbfbfb;
		padding:50px 30px;
		h2{
			// text-transform:uppercase;
			margin-bottom:0px;
			font-weight:700;
			font-size:42px;
			@media(max-width: 486px){
				font-size: 24px; 
			}
		}
		h3{
			font-size:30px;
			@media(max-width: 486px){
				font-size: 20px; 
			}
		}
		form input[type=text], form input[type=email], form input[type=tel], form input[type=password], form input[type=number], form input[type=tel]{
			background-color:white;
			// padding:15px 15px;
			// border-color:#c1c1c1;
			// border-radius:1px;
   //  		transition: 0.3s all;
		}
		.primary.large{
			width:100%;
			// text-transform:uppercase;
			padding:15px 30px;
			border-radius:50px;
			font-size:22px;
			letter-spacing:0.5px;
    		transition: 0.3s all;
		}
	}
	.left-column{
		form input[type="checkbox"] + span{
			font-weight:400;
		}
		.checkbox-row span.fakelabel span{
			margin-left: 5px;
			padding-left: 45px;
			font-size: rem(18);
		}
		.email-prefs .item .item-inner.selected{
			background:transparent;
		}
			.email-prefs .item input[type="checkbox"] + span:after{
				z-index: 3;
			}

			.email-prefs .item input[type="checkbox"] + span {

				&:after, &:before {
					top: 4px;
				}
			}
			
			.page-header{
				display:none;
			}
			.item-inner{
				background:white;
				border:none!important;
				font-family: hubl("$font"), sans-serif;
				margin-left:-20px;
				
			}

			.email-prefs .item .item-inner {
				padding: 0 15px;
			}

			.email-prefs .item .item-inner *{
				font-weight:400;
			}
			.email-prefs .item p{
				margin:5px 25px 20px 50px;
				font-size: rem(16);
			}
			.checkbox-row{
				padding-left:20px 0;
			}
			.item-inner.hovered{
				border:none;
				box-shadow:none;			
			}
			#submitbutton{
				margin: 0;
				border: none;
			    background-color: transparent;
			    font-size: 18px;
			    color: inherit;
			    // text-transform:uppercase;
			}
			.cont-button{
				    cursor: pointer;
				    font-weight: 700;
				    font-size: 18px;
				    color: #FFFFFF;
				    background-color: $actionColor;
				    border:1px solid $actionColor;
				    position: relative;
				    vertical-align: middle;
				    display: inline-block;
				    text-align: center;
  					transition: 0.3s all; 
				    line-height: 18px;
				    padding: 20px 30px;
				    padding-right: 35px;
				    min-width: 150px;
				    cursor: pointer;
				    outline: 0;
				    position:relative;
				    margin-top: 20px;
				    margin-bottom:30px;
				    border-radius: 50px;
				    text-align: center;

				    &:after {
					    width: 20px;
					    height: 20px;
					    z-index: 3;
					    // font-weight: 900;
					    content: url('https://blog.bisnode.ch/hubfs/Icons/arrow-right-white.png');
					    // font-family:"Font Awesome 5 Free";
					    position: absolute;
					    right: 0px;
					    top: 50%;
					    transform: translateY(-50%);
					    -webkit-box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    box-sizing: border-box;
						margin-left:0.5em;
					    margin-right: 0.5em;
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						transition: all .3s linear;
				    }

			}
			.cont-button:hover{
				background-color:white;
				color:$actionColor;
			
				&:after {
				    content: url('https://blog.bisnode.ch/hubfs/Icons/arrow-right.png');
				}
			}
		}

	.subscribe-options {
		label {
			margin-left: 0;

			span {
				margin-left: 0;
			}
		}
	}

	.subscribe-options{
		.header{
			display:none;
		}
	}
	.send-me{
		padding:50px 0px;
		border-top:1px solid #f2f2f2;
		.header{
			font-size: rem(28);
			font-weight: 400;
			margin-left:0px;
			margin-bottom: 40px;
		}
	}
	
	.subscribe-options{
		label {
			span{
				font-size:18px;
				font-weight:400;
			}
		}
	}
	.head{

		.page-header{
			max-width:600px;
			margin:auto;
			padding:50px 0px;
		}
		h1{
			font-weight:700;
			font-size:42px;

		}
		h2{
			font-weight:400;
			color:$actionColor;
			font-size:18px;
		}
		text-align:center;
		.email-prefs{
			display:none;
		}
	}
}