.thank-you{
	.blog-main{
		background-color:$backgroundColor;
		padding:50px 0px;

		h3, .h3, h4, .h4 {
			color: $actionColor;
			font-weight: 700;
		}
	}
	.header{
		min-height:320px;
		background-image:url("https://cdn2.hubspot.net/hubfs/4152443/back_thank_you.png");
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		h1{
			font-size:62px;
			color:white;
			margin-top:120px;
			color: $coreColor;
			//text-transform:uppercase;
			@media(max-width: 486px){
				font-size: 24px; 
			}
		}
		h2{
			color:white;
			font-size:24px;
			font-weight:300;
			@media(max-width: 486px){
				font-size: 20px; 
			}
		}

	}
	.pad{
		padding:50px 0px;
		.bottom-sol{
					border-bottom:1px solid #f2f2f2;
			}
		
	}
	.thank-you-column{
		padding:80px 0px;
		h1{
			font-size:48px;
			font-weight:400;
			margin-bottom:50px;
			display: inline-block;
			@media(max-width: 486px){
				font-size: 24px; 
			}
		}
	
	}
	 // SOCIAL WRAPPER TOP 
        .socials{

            @media (max-width: 486px) {
               
                   text-align: center;
                }
            a {
                color: #000;
                font-size: 28px;
                padding: 0 10px;
                border-radius: 2px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                &:hover {
                    color: #3e8cd5;
                }
                i,svg{
                    color: inherit;
                    i{
                        transform: translateY(2px);
                    }
                }
                &.fb{
                   &:hover {
                        background-color: #3b5998;
                                    color: #fff;
                    }
                }
                &.twitter{
                     &:hover {
                        background-color:#39a0cd;//#1dcaff;
                        color: #fff;
                    }

                }
                &.linkedin{
                    &:hover {
                     background-color:#0077b5;
                    color: #fff;
                 }
                }
                &.xing{
                    &:hover {
                                    background-color:#026466;
                                    color: #fff;
                                }                
                    }
                &.contact{
                    &:hover{
                                       background-color: #3e8cd5;
                                        color: #fff;
                                    }
                }
            }
        } // POST TOPICS
	.socials{
		padding-bottom:50px;
	
		h3{
			font-size:28px;

		}
		p{
			font-size:18px;
		}
	
		li{
				display:inline-block;
				margin-right:20px;
				i{
					/*font-size:28px;*/
				}
		}
		
		
	}

}