.blog-main {
    font-family: hubl("$font"), sans-serif!important;
    .body-container-wrapper {
        margin-top: 126px;
        @media(max-width: 767px) {
            margin-top: 91px;
        }
    }
    &:not(.hs-blog-listing) {
        .sidebar-menu .search {
            display: none!important;
        }
    }
    &.hs-blog-listing {
        .sidebar-menu {
            @media(max-width: 1350px) {
                top: 90px;
                @media(max-width: 767px) {
                    top: 55px;
                }
            }
        }
        .sidebar-menu-area {
            @media(max-width: 1350px) {
                top: 90px;
            }
            @media(max-width: 767px) {
                top: 55px;
            }
        }
        .body-container-wrapper {
            margin-top: 90px;
            background-color: #fafafa;
            @media(max-width: 767px) {
                margin-top: 55px;
            }
        }
        .container {
            max-width: 1240px;
        }
        .cta-banner-wrapper {
            padding: 0.5% 0px;
            padding: 0.4vw 0.1vw;
            .cta-banner {
                max-width: calc(100% - 0.4vw);
                max-width: 100%;
            }
        }
    } 

    // HERO BANNER and POPULAR SLIDER
    .hero-banner-blog {
        width: 100%;
        height: 320px;
        background-position: center center;
        background-size: cover;
    }

    .slide-item {
        width: 100%;
        height: 440px;
        background-position: center center;
        background-size: cover;
        position: relative;

        @media (max-width: 580px) {
            height: 300px;
        }
        a {
            position: absolute;
            z-index: 5;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;        
        }
        .container {
            height: 100%;
            padding: 45px 15px 70px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            justify-content: flex-end;
            @media(max-width: 1350px) {
                padding-top: 70px;
            }
            .tag-name {
                background-color: rgba(242, 242, 242, .5);
                color: #fff;
                padding: 0px 10px;
                text-transform: uppercase;
                // display: inline-block;
                display: none;
                margin-bottom: 5px;
                font-size: 11px;
                line-height: 23px;
                font-weight: 700;
            }
            .h4 {
                padding: 0px;
                font-size: 54px;
                line-height: 60px;
                color: #fff; 
                display: inline;
                font-weight: 700;
                @media (max-width: 580px) {
                    font-size: rem(36);
                    line-height: 1;
                }

            }
        }
    } 
    // MAIN POST
    .post-content {
        background-color: #fff;
        max-width: 1035px;
        width: 100%;
        margin: -110px auto 0px auto; // SOCIAL WRAPPER TOP 
        .social-wrapper {
            text-align: right;
            padding: 15px 20px;
            @media (max-width: 486px) {

                text-align: center;
            }
            a {
                color: #000;
                font-size: 20px;
                padding: 0 10px;
                border-radius: 2px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                &:hover {
                    color: #3e8cd5;
                }
                i,
                svg {
                    color: inherit;
                    i {
                        transform: translateY(2px);
                    }
                }
                &.fb {
                    &:hover {
                        background-color: #3b5998;
                        color: #fff;
                    }
                }
                &.twitter {
                    &:hover {
                        background-color: #39a0cd; //#1dcaff;
                        color: #fff;
                    }
                }
                &.linkedin {
                    &:hover {
                        background-color: #0077b5;
                        color: #fff;
                    }
                }
                &.xing {
                    &:hover {
                        background-color: #026466;
                        color: #fff;
                    }
                }
                &.contact {
                    &:hover {
                        background-color: #3e8cd5;
                        color: #fff;
                    }
                }
            }
        } 
        // POST TOPICS
        .tags-wrapper {
            padding: 0 50px;
            @media (max-width: 767px) {
                padding: 0px;
                display: flex;
            }

            a {
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
                border: 1px solid $fontColor;
                color: $fontColor;
                font-weight: 700;
                font-size: 12px;
                border-radius: 50px;
                // text-transform: uppercase;
                padding: 4px 15px;
                &:hover {
                    color: $actionColor;
                    border-color: $actionColor;
                }
                @media (max-width: 486px) {
                    display: block;
                    text-align: center;
                    font-size: 10px;
                    padding: 4px 4px;
                    margin-right: 1%;
                }
                @media (max-width: 425px) {
                    font-size: 8px;
                }
                @media (max-width: 325px) {
                    font-size: 7px;
                }
            }
        }
        h1 {
            padding: 0 50px;
            font-size: 43px;
            font-weight: 400;
            margin: 25px 0px 20px;
            @media (max-width: 767px) {
                padding: 0px;
            }
            @media (max-width: 486px) {
                font-size: 24px;
            }
        }
        .info {
            padding: 0 50px;
            font-weight: 400;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                padding: 0px;
            }
            @media (max-width: 486px) {
                font-size: 14px;
            }
        }
        .container {
            max-width: 930px;
        }
        .content>span {
            >* {
                padding: 0 50px;
                @media (max-width: 767px) {
                    padding: 0px;
                }
            }

            h4 {
                display: inline-block;
                margin-bottom: 0;
            }
            .video-wrapper {
                padding: 0px;
                margin: 50px auto 50px auto; // background-color: #eee;
                video {
                    margin: 0px;
                }
            }
            img,
            video,
            iframe {
                padding: 0 0px;
                margin: 30px auto 50px auto;
            }
        }
        video {
            width: 100%;
            height: auto;
        }
        .video-wrapper {
            position: relative;
            z-index: 1;
            padding: 0 50px;

            &:before {
                display: none;
            }
            .play-btn {
                position: absolute;
                width: 114px;
                height: 114px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                display: block;
                z-index: 5;
                content: '';
                background-image: url('//cdn2.hubspot.net/hubfs/4152443/Icons/play-btn.svg');
                opacity: 1;
                transition: 0.3s all;
                &.disabled {
                    opacity: 0;
                }
            }
        }
    } // AUTHOR BIO 
    .author-bio {
        display: flex;
        padding: 60px 60px 40px 60px;
        margin: 50px 0px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        @media (max-width: 767px) {
            flex-direction: column;
            text-align: center;
            padding: 60px 0px 40px 0px;
        }
        .avatar {
            min-width: 185px;
            width: 185px;
            height: 185px;
            border-radius: 50%;
            background-position: center center;
            background-size: cover;
            margin-right: 45px;
            @media (max-width: 767px) {
                margin: 0 auto 30px auto;
            }
        }
        .text {
            .h3 {
                a {
                    font-weight: 400;
                    font-size: 24px;
                    color: $fontColor;
                    &:hover {
                        color: $actionColor;
                    }
                    @media (max-width: 486px) {
                        font-size: rem(18);
                    }
                }
            } 
            // AUTHOR SOCIAL
            .hs-author-social-section {
                margin-top: 30px;
            }
            a.hs-author-social-link {

                display: inline-block;
                background-image: none!important;
                font-size: 0px;
                color: transparent;
            }
            a.hs-author-social-link {
                margin-right: 5px;
                margin-bottom: 10px;
                width: 34px;
                height: 34px;
                line-height: 34px;
                background-size: 34px 34px;
                &:before {
                    font-family: 'Font Awesome\ 5 Brands';
                    display: block;
                    font-size: 24px;
                    font-weight: 300;
                    color: #bcbcbc;
                    transition: all .3s linear;
                    text-align: center;
                    margin: 0;
                    text-indent: 0;
                    color: $fontColor; // background-color: blue;
                    border-radius: 2px;
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                }
                &:hover {
                    &:before {
                        color: #3e8cd5;
                    }
                }
            }


            a.hs-author-social-link.hs-social-xing:before {
                content: "\f168"
            }

            a.hs-author-social-link.hs-social-twitter {
                &:before {
                    content: "\f099";
                }
                &:hover:before {
                    color: #fff;
                    background-color: #39a0cd; //#1dcaff;
                }
            }

            a.hs-author-social-link.hs-social-facebook {
                &:before {
                    content: "\f09a";
                }
                &:hover:before {
                    color: #fff;
                    background-color: #3b5998;
                }
            }

            a.hs-author-social-link.hs-social-google-plus:before {
                content: "\f0d5"
            }

            a.hs-author-social-link.hs-social-linkedin {
                &:before {
                    content: "\f0e1";
                }
                &:hover:before {
                    color: #fff;
                    background-color: #0077b5;
                }
            }

            a.hs-author-social-link.hs-social-default:before {
                content: "\f0ac"
            }
            a.hs-author-social-link.hs-social-rss:before {
                content: "\f09e"
            }

            a.hs-author-social-link.hs-social-youtube:before {
                content: "\f167"
            }

            a.hs-author-social-link.hs-social-pinterest:before {
                content: "\f231"
            }
        }
    } 
    // BLOG SUBSCRIPTION
    .blog-subscription {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 35px;
        border-bottom: 1px solid #f2f2f2;
        .h2 {
            font-size: 42px;
            font-weight: 400;
            @media (max-width: 486px) {
                font-size: rem(18);
                // text-align: left;
            }
        }
        .h5 {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 400;
            @media (max-width: 486px) {
                font-size: rem(18);
                // text-align: left;
            }
        }

        .form-title {
            text-align: left;
        }
        form {
            max-width: 600px;
            margin: 35px auto 0px auto;
            text-align: left;
            span {
                text-align: left;
            }
            input[type="checkbox"]+span {
                display: inline-block;
            }
        }
    }

    .hs_cos_wrapper_type_blog_subscribe {

        input[type=submit] {
            width: auto;
        }
    }
    // SOCIAL SECTION
    .post-content .social-bottom {
        padding: 90px 60px 70px 60px;
        @media(max-width: 767px) {
            padding: 90px 0px 70px 0px;
        }
        .h3{
            @media (max-width: 486px) {
                font-size: rem(18);
            }
        }
        .h6{
            @media (max-width: 486px) {
                font-size: rem(14);
            }
        }
        .social-wrapper {
            padding: 20px 0px;
            text-align: left;
            a {
                font-size: 26px;
                &:first-child {
                    // padding-left: 0px;
                }
                i {
                    transform: translateY(2px);
                }
                &.contact {
                    img {

                        width: 30px;
                    }
                }
            }
        }
    } // CTA BANNER
    .cta-banner {
        margin-bottom: 80px;

        a {
            color: $actionColor;

            &:hover {
                text-decoration: underline;
            }
        }
    } // RELATED POSTS
    .related-post-wrapper {
        background-color: $backgroundColor;
        padding: 60px 0px;
        .h3, h3, .h4, h4 {
            margin-bottom: 20px;
            font-size: rem(28);
            font-weight: 700;
            color: $actionColor;
            @media (max-width: 486px) {
                font-size: rem(20);
            }
        }
    }
    .related-posts {
        margin-top: 0.4vw;
        display: flex;
        @media(max-width: 1024px) {
            flex-wrap: wrap;
        }


        >.image {
            margin-right: 1.5%;
            width: 100%;
            max-width: 390px;
            height: 300px;
            background-size: cover;
            background-position: center center;
            position: relative;
            z-index: 1;
            transition: 0.3s all;
            @media(max-width: 1024px) {
                max-width: 100%;
                margin-bottom: 30px;
            }
            &:last-child {
                margin-right: 0px;
            }
            &:hover {
                opacity: 0.7;
            }
            a {
                position: absolute;
                z-index: 5;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
            .post-info {
                padding: 25px;
                position: relative;
                z-index: 3;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                justify-content: flex-end;
                .tag-name {
                    background-color: rgba(242, 242, 242, .5);
                    color: #fff;
                    padding: 0px 10px;
                    text-transform: uppercase;
                    // display: inline-block;
                    margin-bottom: 5px;
                    font-size: 11px;
                    line-height: 23px;
                    font-weight: 700;
                    display: none;
                }
                .h4 {
                    // padding: 0 5px;
                    padding: 0px;
                    font-size: 26px;
                    line-height: 28px;
                    font-weight: 700;
                    color: #fff;
                    display: inline;
                    // background-color: $fontColor;
                    // text-transform: uppercase;
                    @media (max-width: 486px) {
                        font-size: rem(22);
                        line-height: 1;
                    }
                }
            }
        }
    } 

    // *************
    // BLOG LSITING 
    // ************
    .introduce {
        max-width: 905px;
        margin: 74px 0px 10px 0px;
        h2 {
            font-weight: 700;
            color: $actionColor;
            margin-bottom: 10px;
        }
    }
    .filters-nav {
        padding: 20px 0px;
        ul {
            li {
                display: inline-block;
                span {
                    margin-right: 20px;
                }
                a {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border: 1px solid $fontColor;
                    color: $fontColor;
                    font-weight: 400;
                    background-color: #fff;
                    font-size: 16px;
                    // text-transform: uppercase;
                    padding: 4px 15px;
                    border-radius: 50px;
                    &:hover,
                    &.active {
                        color: $coreColor;
                        border-color: $coreColor;
                    }
                    @media (max-width: 486px) {
                        font-size: rem(14);
                    }
                }
            }
        }
    }
    .blog-listing {
        width: 101%;
        margin-left: -0.5%!important;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 6;
        &.searching {
            &:before {
                padding: 1%;
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                z-index: 110;
                background-color: rgba(250, 250, 250, 0.7);
            }
        }
        >.post-item-wrapper {
            width: 33.33%;
            padding: 0.5%;
            padding: 0.4vw;
            height: 300px;
            position: relative;
            margin-right: 0px;
            z-index: 90;
            transition: all 0.3s; 
            &:hover {
                transform: scale(1.02);
                z-index: 100;
                opacity: 0.7;
            }
            @media(max-width: 1023px) {
                width: 50%;
            }
            @media(max-width: 650px) {
                width: 100%;
            }
            &:nth-of-type(5n+4) {
                width: 66.66%;
                @media(max-width: 1023px) {
                    width: 50%;
                }
                @media(max-width: 650px) {
                    width: 100%;
                }
            }
            &:nth-of-type(4n+3) {
                @media(max-width: 1023px) {
                    width: 100%;
                }
            }
            .post-item {
                background-position: center center;
                background-size: cover;
                width: 100%;
                height: 100%;
            }
            &.load-more-wrapper {
                @media(max-width: 650px) {

                    height: auto;
                }
                .load-more {
                    background-color: $backgroundColor;
                    cursor: pointer;
                    padding: 15px 15px 35px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    @media(max-width: 650px) {

                        justify-content: center;
                        padding: 15px;
                        br {
                            display: none;
                        }
                    }
                    span {
                        // padding: 0 5px;
                        padding: 0px;
                        font-size: 26px;
                        line-height: 28px;
                        font-weight: 700;
                        color: $actionColor;
                        display: inline;
                        // background-color: $fontColor;
                        // text-transform: uppercase;
                        @media (max-width: 486px) {
                            font-size: rem(22);
                            line-height: 1;
                        }
                    }
                }
            }
            a {
                position: absolute;
                z-index: 5;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
            .container {
                height: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                >div:last-child {
                    margin-bottom: 20px;
                }
                .tags-wrapper {
                    display: none;
                }
                .tag-name {
                    background-color: rgba(242, 242, 242, .5);
                    color: #fff;
                    padding: 0px 10px;
                    text-transform: uppercase;
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 11px;
                    line-height: 23px;
                    font-weight: 700;
                    margin-right: 7px;
                }

                .h4 {
                    padding: 0px;
                    font-size: 26px;
                    line-height: 28px;
                    // color: $coreColor; 
                    color: #fff;
                    font-weight: 700;
                    display: inline;
                    // background-color: $fontColor; //#000;
                    // text-transform: uppercase;
                    @media (max-width: 486px) {
                            font-size: rem(22);
                            line-height: 1;
                        }
                }
            }
        }
    }
    .listing-sidebar-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 101%;
        margin-left: -0.5%!important;
        margin-left: -0.4vw;
        >div {
            width: 33.33%;
            padding: 0.5%;
            padding: 0.4vw;
            min-height: 300px;
            margin-right: 0px;
            @media(max-width: 1023px) {
                width: 50%;
            }
            @media(max-width: 650px) {
                width: 100%;
            }
            &:first-child {
                width: 66.66%;
                @media(max-width: 1023px) {
                    width: 100%;
                }
            }
            >div {
                background-color: #fff;
                width: 100%;
                height: 100%;

                border: 1px solid #f2f2f2;
                padding: 15px 20px;
            }
        }
        .h3 {
            padding-bottom: 14px;
            font-size: 24px;
            border-bottom: 1px solid #f2f2f2;
            @media (max-width: 486px) {
                font-size: rem(18);
            }
        } 
        // WHITEPAPERS
        .white-papers {
            display: flex;

            @media(max-width: 650px) {
                flex-wrap: wrap;
            }
            >div {
                width: 100%;
            }
            .image {
                max-width: 370px;
                margin-right: 45px;
                background-size: cover;
                background-position: center center;
                @media(max-width: 650px) {
                    margin: 0 auto 25px auto;
                    max-width: 100%;
                    height: 300px!important
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .cat {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border: 1px solid $fontColor;
                    color: $fontColor;
                    font-weight: 700;
                    background-color: #fff;
                    font-size: 11px;
                    line-height: 13px;
                    // text-transform: uppercase;
                    padding: 4px 15px;
                    border-radius: 50px;
                }
                .h3 {
                    padding: 0px;
                    font-size: 24px;
                    line-height: 26px;
                    color: #fff;
                    display: inline;
                    background-color: $fontColor; //#000;
                    text-transform: uppercase;
                    font-weight: 400;
                    margin-top: 20px;
                    margin-bottom: 36px;
                    @media (max-width: 486px) {
                        font-size: rem(20);
                        line-height: 1;
                    }
                }
                .cta-wrapper {
                    margin-top: 36px;
                }
                .hs-cta-wrapper {

                    a.cta_button {

                        margin-bottom: 20px!important;
                    }
                }
            }
        } // FORMS
        .forms-wrapper {
           input[type="submit"]{
                    font-size: rem(18);
                    line-height: rem(18);
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            .h3 {
                margin-top: 5px;
                border-bottom: 0px;
                margin-bottom: 0px;
                small {
                    display: block;
                    font-size: 18px;
                    padding-top: 10px;
                }
            }
            form .hs-form-field {
                margin-top: 14px;
                
            }
        } // POPULAR POST
        .popular-posts {
            .posts {
                a {
                    // font-family: 'Roboto Condensed';
                    font-size: 18px;
                    // color: #000000;
                    // text-transform: uppercase;
                    counter-increment: list;
                    position: relative;
                    margin-bottom: 20px;
                    padding-left: 35px;
                    width:100%;
                    @media(max-width: 486px) {
                        font-size: 12px;
                    }

                    &:before {
                        // position: absolute;
                        font-weight: 400;
                        content: counter(list);
                        display: inline-block;
                        color: #fff;
                        background-color: #000;
                        width: 27px;
                        height: 27px;
                        line-height: 27px;
                        text-align: center;
                        border-radius: 2px;
                        margin-right: 10px;
                        display: block;
                        position: absolute;
                        left: 0px;
                        @media(max-width: 486px) {
                            top: 0px;
                        }
                    }
                    &:hover {
                        color: $actionColor;
                    }
                }
            }
        } // AUTHORS
        .blog-authors {
            .h3 {
                margin-bottom: 12px;
            }
            ul {
                li {
                    margin-bottom: 8px;

                    a {
                        display: flex;
                        align-items: center;
                        .avatar {
                            display: inline-block;
                            border-radius: 2px;
                            width: 37px;
                            min-width: 37px;
                            height: 37px;
                            background-size: cover;
                            background-position: center center;
                            margin-right: 12px;
                        }
                        span {
                            font-size: 18px;
                            line-height: 22px;
                            display: inline-block;
                            transition: all .2s linear;
                            // color: #000000;
                            &:hover {
                                color: $actionColor;
                            }
                            @media(max-width: 486px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        } // FOLLOW US
        .follow-us {
            .h3 {
                margin-bottom: 0px;
            }
            ul {
                li a {
                    padding: 5px 0px;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #f2f2f2;
                    color: #000;
                    font-size: 18px;
                    line-height: 1;
                    @media(max-width: 486px) {
                        font-size: 12px;
                    }
                    &:hover {
                        i {
                            background-color: #3e8cd5;
                            color: #fff;
                        }
                        .fa-linkedin-in {
                            background-color: #0077b5;
                        }
                        .fa-xing {
                            background-color: #026466;
                        }
                        .fa-facebook-f {
                            background-color: #3b5998;
                        }
                        .fa-twitter {
                            background-color: #39a0cd //#1dcaff;
                        }
                        .fa-envelope {
                            background-color: #3e8cd5;
                        }
                    }
                    svg,
                    i {
                        font-size: 25px;
                        display: inline-block;
                        width: 45px;
                        text-align: center;
                        margin-right: 17px;
                        color: inherit;
                        padding: 10px;
                        border-radius: 2px;
                        transition: 0.3s all;
                    }
                }
            }
        }
    } // ******
    // FOOTER
    // ****** 
    .footer .noo {
        border: none;
    }
}