body {
    div#hs-eu-cookie-confirmation {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondaryColor;
        padding: 0;
        border-bottom: none;
        border-top: none;
        font-family: hubl("$font"), sans-serif;
        box-shadow: none !important;

        div#hs-eu-cookie-confirmation-inner {
            max-width: none;
            width: 100%;
            font-weight: 400;
            font-size: rem(17);
            color: #fff;
            background: none;
            padding: 0px 100px 0px 10px !important;
            display: flex;
            align-items: center;
            min-height: 56px;

            @media (max-width: 1311px) {
                font-size: rem(16);
                min-height: 50px;
            }

            @media (max-width: 991px) {
                font-size: rem(15);
            }

            @media (max-width: 767px) {
                display: block;
                width: 100%;
                padding: 10px !important;
                text-align: left;
            }

            p {
                font-size: 17px !important;
                font-weight: 400 !important;
                line-height: 1.5 !important;
                margin: 0 !important;
                color: #fff;
                font-family: hubl("$font"), sans-serif;

                @media (max-width: 1312px) {
                    font-size: 16px !important;
                }

                @media (max-width: 991px) {
                    font-size: 15px !important;
                }

                @media (max-width: 767px) {
                    font-size: 14px !important;
                    line-height: 18px !important;
                }
            }

            strong {
                a {
                    font-family: hubl("$font"), sans-serif;
                    position: relative;
                    color: #fff;
                    text-decoration: underline !important;
                    // text-transform: uppercase;
                    font-weight: 700 !important;
                    top: -2px;
                    font-size: 15px !important;
                    margin-left: 14px;

                    &:hover {
                        font-family: hubl("$font"), sans-serif;
                        font-size: 15px !important;
                        font-weight: 700 !important;
                    }

                    @media (max-width: 991px) {
                        font-size: 14px !important;

                        &:hover {
                            font-size: 14px !important;
                        }
                    }

                    @media (max-width: 767px) {
                        margin: 7px 3px;
                        font-size: 14px !important;
                        line-height: 1;
                        top: auto;
                    }
                }
            }

            div#hs-en-cookie-confirmation-buttons-area {
                position: absolute;
                right: 0;
                top: 50%;
                margin: 0!important;
                transform: translateY(-50%);

                @media (max-width: 767px) {
                    position: relative;
                    top: auto;
                    right: unset;
                    transform: translateY(0);
                    width: 100%;
                    text-align: center !important;
                }

                a#hs-eu-confirmation-button {
                    background-color: $actionColor !important;
                    padding: 0px 30px !important;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                    transition: all .3s linear;
                    margin-right: 0 !important;
                    border-radius: 0;
                    font-family: hubl("$font"), sans-serif;
                    // text-transform: uppercase;
                    font-weight: 700 !important;
                    font-size: 14px;
                    line-height: 1;
                    border: none !important;
                    min-height: 56px;
                    line-height: 56px;

                    &:hover {
                        background-color: #5bb1ac !important;
                        border: none !important;
                    }

                    @media (max-width: 1312px) {
                        min-height: 50px;
                        line-height: 50px;
                    }

                    @media (max-width: 991px) {
                        font-size: 12.5px;
                    }

                    @media (max-width: 767px) {
                        padding: 16px 23px !important;
                        font-size: 11px;
                        min-height: 0;
                        line-height: 1;
                    }
                }
            }
        }
    }
}