.cta-banner{
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center center;
	max-width: 1010px;
	width: 100%;
	margin: 0 auto;
	.mask{
		background-color: #000;
		opacity: 0.3;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2
	}
	.content {
		position: relative;
		z-index: 3;
		color: #fff;
		padding: 95px 150px 75px 150px;
		@media(max-width: 767px){
			padding: 95px 25px 75px 25px;
		}
		text-align: center;
		*{
			color: inherit;
		}
		h3{
			font-size: 42px;
			@media (max-width: 486px) {
		        font-size: rem(24);
		    }
		}
		p, li, a{
			font-size: rem(24);
			@media (max-width: 486px) {
		        font-size: rem(14);
		    }
		}
		li:before{
			content: '';
			width: 8px;
			height: 8px;
			background-color: #fff;
			display: inline-block;
			vertical-align: middle;
			border-radius: 50%;
			margin-right: 15px;
		}
		a{
			font-weight: 700;
		}
	}
}