.multi-step-form {
	.hide {
		display: none;
	}

	form {

		.hs-form-field {
			display: none;
		}

		.form-step {
			display: none;

			.hs-form-field {
				display: block;
			}

			.step-title {
				text-align: center;
			}

			.step-control {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				&__button {
					width: 48%;
				    border-radius: 50px;
				    cursor: pointer;
				    transition: 0.3s all;
				    color: #fff;
				    background-color: $actionColor;
				    border: 1px solid $actionColor;
				    letter-spacing: 0em;
				    font-weight: 700;
				    font-family: hubl("$font"), sans-serif;
				    padding: 20px 20px;
				    margin: 10px 0 20px;
		            font-weight: 700;
		            font-size: rem(18);
		            line-height: 1;
				    // text-transform: uppercase;
				    white-space: normal;
				    text-align: center;

				    &:first-of-type:last-of-type {
				    	margin-left: auto;
				    	margin-right: auto;
				    }

				    &:hover {
				    	background-color: #fff;
					    color: $actionColor;
				    }

				    @media (max-width: 640px) {
				    	width: 100%;
				    }
				}

				.hs_submit {
					width: 48%;

					@media (max-width: 640px) {
				    	width: 100%;
				    }
				}
			}
		}

		.form-step[data-step="1"] {
			display: block;
		}

	}
}