	
		.modal-open {
		  overflow: hidden!important;
		}
		.popup{

		.modal {
		  position: fixed;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  z-index: 1000001;
		  display: none;
			overflow: scroll;
			height: calc(100% + 20px);
		  -webkit-overflow-scrolling: touch;
		  outline: 0;
			background-color: rgba(36, 43, 67, .95);
		}
		.modal.fade .modal-dialog {
			transition: transform .3s ease-out;
			transform: translate(0, -25%);
		}
		.modal.in .modal-dialog {
				transform: translate(-50%, -50%);
					
		}
		.modal-open .modal {
		  // overflow-x: hidden;
			// overflow-y: auto;
		
		}
		.modal-dialog {
		  position: absolute;
		  width: auto;
		  top:60%;
		  left:50%;
		
		}
		.modal-content {
		  position: relative;
		  background-color: transparent;
		  -webkit-background-clip: padding-box;
		  background-clip: padding-box;
		  border-radius: 6px;
			outline: 0;
			
			
		}
		.modal-backdrop {
		  position: fixed;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  z-index: 1040;
		  background-color: #000;
		}
		.modal-backdrop.fade {
		  filter: alpha(opacity=0);
		  opacity: 0;
		}
		.modal-backdrop.in {
		  filter: alpha(opacity=50);
		  opacity: .5;
		}
		.modal-header {
		  padding: 15px;
		  h4{
		  	color:white;
		  }

		}
			h3{
		  	color:white;
		  	margin-bottom:30px;
		  }
		p {
			text-align: left;		
	  		font-size: 16px;		
			font-weight: 400 !important;
		}
		.hs_submit{
			input{
				background-color:$actionColor;
				color:#fff;
				border-color:$actionColor;
				border:1px solid $actionColor;
			}
			input:hover{
				background-color:transparent;
				color:white;
				border-color:white;
			}
		  }
		.submitted-message{

		  	color:white;

		}
		.close {
		 right: 0px;
		 border: 0px;
		 background-color: transparent;
		 color: white;
		 font-size: 30px;
		 position: absolute;
		 top: 5%;
    	// margin-top: -260px;
    	right:5%;
		}
		.modal-title {
		  margin: 0;
		  line-height: 1.42857143;
		}
		.modal-body {
		  position: relative;
		  padding: 15px;
		  p,li,span{
		  	color:white;
		  }
		}
		form input, form .hs-fieldtype-file .input{
			border:0px;
			border-bottom: 1px solid white;
			background-color: transparent;
			color:white;
			border-radius:0px;
		}

		form select::-ms-value {
	        color: #fff;
	    }
	    
	    form select:focus {
	        color: #fff;
	    }

		form .hs-form-field:not(.hs-fieldtype-radio):not(.hs-fieldtype-checkbox) > label{
			color:white;
		}
		form .hs-error-msgs li label, form .hs-error-msgs li a{
			color:$coreColor;
		}
		p{
			text-align:left;
			font-size:16px;
			font-weight:400!important;
		}
		.modal-footer {
		  padding: 15px;
		  text-align: right;
		}
		.modal-footer .btn + .btn {
		  margin-bottom: 0;
		  margin-left: 5px;
		}
		.modal-footer .btn-group .btn + .btn {
		  margin-left: -1px;
		}
		.modal-footer .btn-block + .btn-block {
		  margin-left: 0;
		}
		.modal-scrollbar-measure {
		  position: absolute;
		  top: -9999px;
		  width: 50px;
		  height: 50px;
		  overflow: scroll;
		}
		input[type="submit"]{
			font-size: rem(18);
    		line-height: rem(18);
			padding: 20px 50px;
			color: #fff;
			border-radius:50px;
			width: auto;
			max-width: 100%;
		}
		
		form input[type=submit]{
			margin-top:20px;
		}
		.actions {
			text-align: left;
		}
		@media (max-width: 768px) {
		.modal-dialog {
		    width: 90%!important;
		  }
		 .close{
		  	right:1%!important;
		  }
		}
		@media (min-width: 768px) {
		  .modal-dialog {
		    width: 600px;
		  }
		  .modal-sm {
		    width: 300px;
		  }
		}
		@media (min-width: 992px) {
		  .modal-lg {
		    width: 900px;
		  }
		}
		form select{
			background-color:transparent;
			border: none;
    		color: white;
    		border-bottom: 1px solid white;
    		border-radius: 0px;
    		background-image:url('https://blog.bisnode.ch/hubfs/arow2.png');
		}
		
		
}

.button-modal{
	font-family: hubl("$font"), sans-serif;
    cursor: pointer;
    transition: 0.3s all;
    color: #fff;
    background-color: $actionColor;
    border: 1px solid $actionColor;
    letter-spacing: 0em;
    font-weight: 700;
    padding: 20px 30px;
    margin-bottom:20px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1;
    border-radius: 50px;
}

.button-modal:hover{
	background-color: transparent;
    color: $actionColor;
}
.menu-but{ 
	margin-top:20px;
	background-color: $actionColor;
    color: #fff;

    &:hover {
    	color: #fff;
    	border-color: #fff;
    }
}

.listing-sidebar-wrapper{
	.forms-wrapper{
		height:100%;
		position: relative;
		.h3{
			margin-top:0px!important;
		}
	}
	.inner-wrapper{
		bottom:0px;
		position:absolute;
		
	}
	.layout-widget-wrapper{
		height:100%;
	}
	.hs_cos_wrapper_type_raw_html{
		height:100%;
	}
	.widget-span{
		height:100%!important;
	}

}